.footer {
  padding: 2rem 0;
  width: 100%;

  a {
    @include font-weight(bold);
    color: color(black);

    @include respond(large) {
      transition: 0.3s ease;

      &:hover {
        color: color(primary);
      }
    }
  }

  &__text {
    @include font-size(small);
    color: rgba($color: color(grey), $alpha: 0.7);
  }
}
